.Background {
  background-color: white;
  min-height: 110vh;
  position: relative;
  width: 100%;
}

.Background .RightSlide {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF5F6D), to(#FFC371));
  background-image: linear-gradient(to right, #FF5F6D, #FFC371);
  position: absolute;
  right: 0;
  height: 100%;
  -webkit-animation: slideIn 1.5s ease-out forwards;
          animation: slideIn 1.5s ease-out forwards;
}

@-webkit-keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

.Background .Welcome {
  position: absolute;
  z-index: 200;
  width: 100%;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.Background .Welcome h1 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 16.5vw;
  font-weight: 900;
  letter-spacing: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.Background .Welcome .Hey {
  background-image: -webkit-gradient(linear, right top, left top, from(#FF5F6D), to(#FFC371));
  background-image: linear-gradient(to left, #FF5F6D, #FFC371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 15px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: heyIn 1.5s ease-out forwards;
          animation: heyIn 1.5s ease-out forwards;
  z-index: 200;
}

@-webkit-keyframes heyIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes heyIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.Background .Welcome .There {
  color: white;
  letter-spacing: -10px;
  margin-left: 15px;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-animation: thereIn 2s 0.75s ease-out forwards;
          animation: thereIn 2s 0.75s ease-out forwards;
}

@-webkit-keyframes thereIn {
  0% {
    -webkit-transform: translateX(-175%);
            transform: translateX(-175%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes thereIn {
  0% {
    -webkit-transform: translateX(-175%);
            transform: translateX(-175%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.Background .Bio {
  position: absolute;
  bottom: 32vh;
  right: 4vw;
  width: 55%;
  opacity: 0;
  -webkit-animation: bio 1s 2.5s ease-out forwards;
          animation: bio 1s 2.5s ease-out forwards;
}

.Background .Bio h2, .Background .Bio p {
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  text-align: right;
}

.Background .Bio h2 {
  font-size: 6vh;
}

.Background .Bio p {
  font-size: 2.7vh;
  padding-top: 4vh;
}

@-webkit-keyframes bio {
  from {
    opacity: 0;
    bottom: 32vh;
  }
  to {
    opacity: 1;
    bottom: 28vh;
  }
}

@keyframes bio {
  from {
    opacity: 0;
    bottom: 32vh;
  }
  to {
    opacity: 1;
    bottom: 28vh;
  }
}

.Background .Scroll {
  position: absolute;
  bottom: 6vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5vh;
  height: 5vh;
  border: 2px solid white;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 400;
  opacity: 0;
  -webkit-animation: scroll 1s 3.25s ease-out forwards;
          animation: scroll 1s 3.25s ease-out forwards;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Background .Scroll .Arrow {
  margin-top: 5px;
  width: 0;
  height: 0;
  border-left: 1vh solid transparent;
  border-right: 1vh solid transparent;
  border-top: 1vh solid white;
}

.Background .Scroll:hover {
  background-color: white;
}

.Background .Scroll:hover .Arrow {
  border-top: 0.5vw solid yellow;
}

@-webkit-keyframes scroll {
  from {
    opacity: 0;
    bottom: 18vh;
  }
  to {
    opacity: 1;
    bottom: 14vh;
  }
}

@keyframes scroll {
  from {
    opacity: 0;
    bottom: 18vh;
  }
  to {
    opacity: 1;
    bottom: 14vh;
  }
}

@media (max-width: 1024px) {
  .Background {
    display: block;
    background-image: -webkit-gradient(linear, right top, left top, from(#FF5F6D), to(#FFC371));
    background-image: linear-gradient(to left, #FF5F6D, #FFC371);
  }
  .Background .RightSlide {
    display: none;
  }
  .Background .Welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Background .Welcome h1 {
    overflow: hidden;
    line-height: 20vh;
    letter-spacing: 0px;
    font-weight: 900;
  }
  .Background .Welcome .Hey {
    color: white;
    background-image: -webkit-gradient(linear, right top, left top, from(white), to(white));
    background-image: linear-gradient(to left, white, white);
    font-size: 22vh;
    margin: 2vh 0 1vh;
    letter-spacing: -5px;
  }
  .Background .Welcome .There {
    color: white;
    font-size: 14.5vh;
    letter-spacing: -10px;
    margin: 0;
  }
  .Background .Bio {
    display: block;
    width: 90vw;
    height: 30vh;
    bottom: 0;
    right: 5vw;
  }
  .Background .Bio h2 {
    font-size: 4.25vh;
    padding-top: 4vw;
  }
  .Background .Bio p {
    font-size: 2.25vh;
  }
}
/*# sourceMappingURL=Banner.module.css.map */