.About {
    position: relative;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .Article {
        width: 52vw;
        height: 80vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        h1, p {
            font-family: 'Lexend Deca';
            color: #525252;
        }

        h1 {
            font-size: 3.5vh;
            font-weight: 200;
            margin-bottom: 2vh;
        }

        p {
            font-size: 1.75vh;
            letter-spacing: 1px;
            line-height: 3vh;
            text-align: center;
            margin: 2.75vh 0;
        }
    }
}

@media (max-width: 1024px) {
    .About {
        .Article {
            width: 80vw;

        }
    }
}
