.Card {
    height: 40vw;
    width: 25vw;
    background-color: white;
    border-radius: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0 2vw;

    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    img {
        filter: brightness(0);
        background-repeat: no-repeat;
        margin: 3vh auto 0;

        $size: 3vw;
        height: $size;
        width: $size;
        display: block;
    }

    h1 {        
        font-family: 'Lexend Deca';
        font-size: 2.75vh;
        font-weight: 400;
        margin: 4vh 0 2vh;
        text-transform: uppercase;
        
        color: #525252;

        text-align: center;
    }

    .About {
        font-family: 'Lexend Deca';
        font-size: 0.8vw;
        text-align: center;
        letter-spacing: 1px;

        color: #525252;
        width: 70%;
        margin: 0 auto;
        padding: 4vh 0;
        line-height: 1.25vw;
    }

    .Skill {
        font-family: 'Lexend Deca';
        font-size: 1.25vw;
        text-align: center;

        color: #525252;

        display: block;
        width: 80%;

        padding: 0;
        margin: 0 auto 0.5vw;
    }
}

@media (max-width: 1024px) {
    .Card {
        width: 90vw;
        height: 70vh;

        img {
            $size: 6vh;
            height: $size;
            width: $size;
            padding-top: 4vh;
        }

        h1 {
            font-size: 3.5vh;
        }

        .About {
            font-size: 1.7vh;
            line-height: 2.25vh;
        }

        .Skill {
            font-size: 2.75vh;
            margin-bottom: 1vh;
        }
    }
}
